swak-http/src/main/resources/META-INF/netty/netty.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://code.swak.com/schema/netty"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://code.swak.com/schema/netty"
	xmlns:beans="http://www.springframework.org/schema/beans">

	<xsd:import namespace="http://www.springframework.org/schema/beans"
		schemaLocation="http://www.springframework.org/schema/beans/spring-beans-4.3.xsd" />
		
    <xsd:element name="filter">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:attribute name="filter-name" type="xsd:string" use="required" />
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="servlet">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:attribute name="servlet-name" type="xsd:string" use="required" />
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="pool">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:attribute name="pool-name" type="xsd:string" use="required" />
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="server">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:sequence>
						<xsd:element ref="filter"/>
						<xsd:element ref="servlet"/>
						<xsd:element ref="pool"/>
					</xsd:sequence>
					<xsd:attribute name="host" type="xsd:string" use="required" />
					<xsd:attribute name="port" type="xsd:integer" use="required" />
					<xsd:attribute name="timeout" type="xsd:integer" />
					<xsd:attribute name="tcpNoDelay" type="xsd:boolean" />
					<xsd:attribute name="soKeepAlive" type="xsd:boolean" />
					<xsd:attribute name="startReport" type="xsd:boolean" />
					<xsd:attribute name="enableGzip" type="xsd:boolean" />
					<xsd:attribute name="enableCors" type="xsd:boolean" />
					<xsd:attribute name="sslOn" type="xsd:boolean" />
					<xsd:attribute name="certFilePath" type="xsd:string" />
					<xsd:attribute name="privateKeyPath" type="xsd:string" />
					<xsd:attribute name="privateKeyPassword" type="xsd:string" />
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="interceptors">
		<xsd:complexType>
			<xsd:choice maxOccurs="unbounded">
				<xsd:choice>
					<xsd:element ref="beans:bean"></xsd:element>
					<xsd:element ref="beans:ref"></xsd:element>
				</xsd:choice>
				<xsd:element name="interceptor">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="mapping" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:attribute name="path" type="xsd:string" use="required"></xsd:attribute>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="exclude-mapping" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:attribute name="path" type="xsd:string" use="required"></xsd:attribute>
								</xsd:complexType>
							</xsd:element>
							<xsd:choice>
								<xsd:element ref="beans:bean"></xsd:element>
								<xsd:element ref="beans:ref"></xsd:element>
							</xsd:choice>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	
</xsd:schema>